.mb1 {
    margin-bottom: 0.25rem;
  }
  
  .mb2 {
    margin-bottom: 0.5rem;
  }
  
  .mb3 {
    margin-bottom: 1rem;
  }
  
  .mb4 {
    margin-bottom: 2rem;
  }
  
  .mb5 {
    margin-bottom: 4rem;
  }
  
  .w3 {
    width: 4rem;
  }